# PostgreSQL
POSTGRES_URL=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=easybooking
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SSL=false

# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_ADMIN_ID=your_telegram_admin_id

# App
WEBAPP_URL=https://your-webapp-url
TIMEZONE=Europe/Moscow
